<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
<body class="min-h-screen bg-gray-100 flex items-center justify-center">
<button class="btn btn-primary p-4">Add</button>
<div class="bg-green-500/30 rounded-lg p-6 text-center text-xl font-bold bg-green-500">HELLO
<button class="btn btn-secondary">Dangers</button></div>
</body>
</html>